.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#state-input{
  text-transform: uppercase;
  width: 7rem;
}

#state-input::placeholder{
  text-transform: initial
}